<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project max-w-md py-4 px-8 bg-white shadow-lg rounded-lg">
  <div>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}" class="text-gray-800 text-3xl font-semibold text-center justify-center ml-10">{{blog.title}}</a>
    </h2>
  </div>
  <div>
    <p class="mt-10 text-gray-600">
      {{blog.content}}
    </p>
  <div class="mt-5"><p>Created by {{blog.user.name}} </p></div>
  </div>
</div>
{{/each}}
